---
layout: page
title: 3005hacks
---

<div class="grid" id="description">
  <div class="unit span-grid">
    <p>
      3005hacks is a student-run technology collective developing unique and creative applications through experimentation and innovation.
    </p>
  </div>
</div>

<div class="grid" id="projects">
  <div class="unit span-grid">
    <h2 class="heading">Projects</h2>
  </div>

  {% for project in site.data.projects %}
  <div class="unit one-of-three block">
    <a href="{{ project.url }}">
      <div class="block-background">
        <h3 class="heading">{{ project.name }}</h3>
      </div>
      <img src="{{ project.image }}" alt="{{ project.alttext }}">
    </a>
  </div>
  {% endfor %}
</div>

<div class="grid" id="about">
  <div class="unit span-grid">
    <h2 class="heading">About</h2>
  </div>

  {% for person in site.data.members %}
  <div class="unit one-of-three block">
    <div>
      <div class="block-background">
        <ul>
          <a href="{{ person.twitter }}"><li><i class="fa fa-2x fa-twitter"></i></li></a>
          <a href="{{ person.linkedin }}"><li><i class="fa fa-2x fa-linkedin-square"></i></li></a>
          <a href="{{ person.github }}"><li><i class="fa fa-2x fa-github"></i></li></a>
        </ul>
      </div>
      <img src="{{ person.image }}" alt="{{ person.alttext }}">
    </div>
    <h3 class="heading">{{ person.name }}</h3>
    <p>{{ person.description }}</p>
  </div>
  {% endfor %}
</div>

<div class="grid" id="contact">
  <div class="unit span-grid">
  {% for link in site.data.contact %}
    <h2 class="heading">Contact</h2>
    <p>Email us at <a href="mailto:{{ link.email }}">{{ link.email }}</a> or take a look at our <a href="{{ link.github }}">GitHub</a>.</p>
  {% endfor %}
  </div>
</div>