<!DOCTYPE html>

<html lang="en">

<head>
  <title>{{ page.title }}</title>

  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <link rel="stylesheet" type="text/css" href="static/css/toast.css">
  <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="static/css/font-awesome.css">
  <!-- <script type="text/javascript" src="static/js/resources.js"></script> -->
</head>